In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [4]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-05-01', tz='America/New_York').isoformat()

In [5]:
# Get 5 years' worth of historical data for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
# Set the tickers
tickers = ["AGG", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
df_stock_data = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
# Display sample data
df_stock_data.head()

                              AGG                                         \
                             open     high       low    close     volume
time
2017-05-10 00:00:00-04:00  108.60  108.660  108.4400  108.520  1427511.0
2017-05-11 00:00:00-04:00  108.35  108.540  108.3435  108.515  1773499.0
2017-05-12 00:00:00-04:00  108.81  108.940  108.7800  108.920  1136553.0
2017-05-15 00:00:00-04:00  108.85  108.940  108.8200  108.890  1620264.0
2017-05-16 00:00:00-04:00  108.88  109.101  108.8800  109.000  1394153.0

                              SPY
                             open    high     low    close      volume
time
2017-05-10 00:00:00-04:00     NaN     NaN     NaN      NaN         NaN
2017-05-11 00:00:00-04:00  239.35  239.57  238.13  239.410  45435690.0
2017-05-12 00:00:00-04:00  239.09  239.21  238.67  239.030  35283567.0
2017-05-15 00:00:00-04:00  239.47  240.44  239.45  240.245  42230620.0
2017-05-16 00:00:00-04:00  240.62  240.67  239.63  240.100  37206183.0

In [ ]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!